<p id="notice"><%= notice %></p>

<p>
  <strong>Sequence:</strong>
  <%= @turn.sequence %>
</p>

<%= link_to 'Edit', edit_game_turn_path(@game, @turn) %> |
<%= link_to 'Back', game_turns_path(@game) %>
