<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @game_event.description %>
</p>

<%= link_to 'Edit', edit_game_event_path(@game_event) %> |
<%= link_to 'Back', game_events_path %>
